button:hover{
  background-color: red;
}
.oculto{
  display: none;

}
#mensaje:target{
  display: block;
}
.parrafo p:first-child{
color: gold;
}
input:invalid{
  background-color: rgb(209, 238, 209);
}

input[type="email"] {
  background-color: rgb(201, 18, 48);
}

input[type="number"]:focus {
  
  border: 2px solid blue;
  outline: none;
  
}
